logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

project/.sbtserver

*.log

project/.sbtserver.lock

.sbtserver/connections/activator-73f8185d-884a-4fad-baa0-94c2eff5161c.log.01

project/play-fork-run.sbt

*.sbt

*.sbt

*.sbt
/nbproject/private/
*.01
